In [26]:
import pandas as  pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeRegressor
from sklearn import metrics

#read the training set into a data frame
df = pd.read_csv('/home/khalaq04/Downloads/linear_regression_dataset.csv')

#first 5 observations
df.head()

   AGE  FEMALE  LOS  RACE  TOTCHG  APRDRG
0   17       1    2   1.0    2660     560
1   17       0    2   1.0    1689     753
2   17       1    7   1.0   20060     930
3   17       1    1   1.0     736     758
4   17       1    1   1.0    1194     754

In [27]:
#last 5 observations
df.tail()

     AGE  FEMALE  LOS  RACE  TOTCHG  APRDRG
495    0       1    6   1.0    5881     636
496    0       1    2   1.0    1171     640
497    0       1    2   1.0    1171     640
498    0       1    2   1.0    1086     640
499    0       0    4   1.0    4931     640

In [28]:
#to check if there are any null values
df.isnull().values.sum()

1

In [29]:
#to find the row(s) with null value(s)
row_w_null = [index for index,row in df.iterrows() if row.isnull().any()]
print(row_w_null)

[276]

In [30]:
#deleting row(s) with null value(s)
df = df.drop(labels=row_w_null, axis=0)

#to check if there are any more null value(s)
df.isnull().values.sum()

0

In [31]:
#rearranging columns
df = df[['TOTCHG','AGE','FEMALE','LOS','RACE','APRDRG']]
df.head()

   TOTCHG  AGE  FEMALE  LOS  RACE  APRDRG
0    2660   17       1    2   1.0     560
1    1689   17       0    2   1.0     753
2   20060   17       1    7   1.0     930
3     736   17       1    1   1.0     758
4    1194   17       1    1   1.0     754

In [32]:
#separating features and target into x and y respectively
y = df['TOTCHG']
x = df.drop('TOTCHG',axis=1)

#storing the target values
target = y

#implementing decision tree for regression
dtr = DecisionTreeRegressor()
dtr.fit(x,y)

#to predict the target values for the training set
predictions = dtr.predict(x)

#comparison between the actual target values and the predicted target values
compare = pd.DataFrame({'Actual Values':target,'Predicted Values':predictions})
compare.head()

   Actual Values  Predicted Values
0           2660            2438.5
1           1689            1553.5
2          20060           20060.0
3            736             736.0
4           1194            1194.0

In [33]:
#to measure the accuracy(margin of error) for the predictions using root mean sqaured error
print(np.sqrt(metrics.mean_squared_error(target,predictions)).round(0))

297.0